html, body {
  margin: 0;
  padding: 0;
}

.login-screen {
  margin: auto;
  width: 300px;
  font-family: 'Raleway', sans-serif;
  color: #2b4559;
  letter-spacing: 1px;
  text-align: center;
}

.login-screen h1 {
  margin-top: 300px;
}

.login-screen form input {
  width: 330px;
	height: 45px;
	border-radius: 3px;
	background-color: #ffffff;
  border: 1px solid #a3a7aa;
  color: #a3a7aa;
  font-size: 16px;
  padding-left: 10px;
}

.login-screen form input[type=submit] {
  width: 340px;
	height: 45px;
	border-radius: 3px;
	background-color: #1d8bdf;
  color: white;
  font-size: 16px;
  margin-top: 30px;
  border: none;
}

.main-container {
  background-color: white;
  /*background: linear-gradient(to bottom, white 0%, white 25%, #eef6fc 2%, #eef6fc 90%, white 90%);*/
  text-align: center;
}

nav {
  background-color: #0d89e2;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

nav div {
  padding-top: 20px;
}

nav h4 {
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

#dan {
  margin-top: 109px;
  margin-bottom: 16px;
  width: 140px;
  height: 161px;
}

.top-headline {
  text-align: center;
}

.top-headline h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  letter-spacing: -0.3px;
  color: #2d3338;
  margin-top: 0;
}

.top-headline form input {
  width: 200px;
  height: 40px;
  background-color: white;
  border: 1px solid #a3a7aa;
  border-radius: 3px;
  margin-top: 10px;
  padding-left: 10px;
}

.top-headline h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: -0.1px;
  color: #a3a7aa;
  width: 71%;
  margin: auto;
  margin-bottom: 108px;
}

.container h4 span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pages {
  font-family: 'Raleway', sans-serif;
  margin-left: 50px;
}

.view-page-container {
  margin-left: 50px;
  font-family: 'Raleway', sans-serif;
}

.view-page-container h1 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.background-blue {
  background-color: #eef6fc;
  width: 100%;
  padding: 1px;
}

.inner-container {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  max-width: 84vw;
  padding-top: 75px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border: solid 0.5px #d1d3d5;
  text-align: center;
  margin-top: -55px;
  margin-bottom: -55px;
}

.card-container {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
  margin-left: 50px;
}

.one-card {
  border: 1px solid #d1d3d5;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.one-card h3 {
  text-align: center;
  padding-top: 70px;
}

.table-of-lessons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lesson-table {
  width: 850px;
  border: 1px solid #d1d3d5;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
}

.lesson-table h4 {
  margin: 10px 0;
}

.table-of-lessons img {
  padding-top: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.add-lesson {
  max-width: 850px;
  background-color: #79c212;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  color: white;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.lesson-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lesson-box h1 {
  display: inline;
}

button {
  color: white;
  background-color: #79c212;
  border: none;
  border-radius: 3px;
  text-align: center;
  width: 170px;
  height: 40px;
  font-size: 16px;
  margin-right: 300px;
  margin-top: 15px;
}

.button h4 {
  display: inline;
}

.remove {
  font-size: 14px;
  height: 38px;
  background-color: #e24f58;
  border: none;
  border-radius: 3px;
  padding: 0 20px;
  color: white;
}

.children-inner-container {
  display: inline-block;
  text-align: left;
  max-width: 80%;
}

.children-inner-container h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 0.85;
  letter-spacing: -0.2px;
  color: #0d89e2;
  margin-bottom: 0px;
}

.children-inner-container h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.1px;
  color: #2d3338;
  margin-top: 8px;
  margin-bottom: 0px;
  max-width: 850px;
}

#time {
  letter-spacing: -0.2px;
  /*text-align: left;*/
  color: #a3a7aa;
}

#description {
  margin-top: 16px;
  margin-bottom: 22px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  letter-spacing: -0.3px;
  color: #2d3338;
}

iframe {
  width: 800px;
  height: 449px;
  max-width: 80%;
  margin-bottom: 43px;
  /*padding-left: 162px;*/
  /*padding-right: 20px;*/
}

hr {
  width: inherit;
  /*border: solid 0.5px #ededee;*/
  margin-bottom: 51px;
  width: 80%;
}

#need-help {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  letter-spacing: -0.5px;
  color: #2d3338;
  margin-top: 90px;
  margin-bottom: 0px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 23px;
  margin-bottom: 121px;
}

.contact-container h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  padding-left: 10px;
  padding-right: 15px;
  color: #007cdc;
  margin: 0;
  text-decoration: underline;
}

.marker {
	width: 168.8px;
	height: 48.5px;
	transform: rotate(10deg);
	background-color: rgba(74, 165, 231, 0.16);
}

.dim {
  background-color: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0px;
  top: 75px;
  width: 100%;
  height: 100%;
  z-index: 5000;
  display: none;
}

.modal {
  background-color: white;
  box-shadow: 0px 2px 5px grey;
  margin: 10px auto;
  color: #33332e;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-radius: 3px;
  width: 800px;
  height: 625px;
}

.view-modal {
  background-color: white;
  box-shadow: 0px 2px 5px grey;
  margin: 10px auto;
  color: #33332e;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border-radius: 3px;
  width: 800px;
  height: 625px;
}

.modal h4 {
  text-align: right;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-right: 0px;
  cursor: pointer;
  font-size: 18px;
}

.view-modal h4 {
  margin-bottom: 0px;
  padding-top: 15px;
  padding-right: 0px;
  cursor: pointer;
  font-size: 18px;
}

.view-modal .close {
  text-align: right;
}

.modal h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 0;
}

.row > input:focus {
  outline: none;
}

.viewModal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.editModal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.createModal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.viewModal h2, .editModal h2, .createModal h2 {
  text-align: center;
}

.editModal form input, .createModal form input {
  width: 600px;
  height: 50px;
  margin-bottom: 20px;
}

.editModal form input[type=text], .createModal form input[type=text] {
  font-size: 16px;
  padding-left: 10px;
}

.editModal form input[type=submit], .createModal form input[type=submit] {
  border-radius: 1px;
  padding: 5px 15px;
  background: #79c212;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  border: none;
}

.checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.editModal form input[type=checkbox] {
  width: 10px;
  height: 10px;
}

/*Routes*/
.routes {
  display: none;
}
